.content {
  font-size: 11px;
}
.content_white {
  font-size: 11px;
  color: white;
}

.content_bold {
  font-size: 11px;
  font-weight: 900;
}
.content_bold_white {
  font-size: 11px;
  font-weight: 900;
  color: white;
}

button
{
    background-color: blueviolet;
    border: 0px;
    width: 50%;

}
.title
{
    font-size: 15px;
}
.heading {
}

.cv {
  background-color: white;
  height: 800px;
  width: 600px;
}

@media screen and (max-width: 480px) {
  .content {
    font-size: 7px;
  }
  .title
  {
      font-size: 7px;
  }
  .cv {
    background-color: white;
    height: 650px;
    width: 100%;
  }

  .content_bold {
    font-size: 7px;
    font-weight: 900;
  }
  .content_white {
    font-size: 7px;
    color: white;
  }
  .content_bold_white {
    font-size: 7px;
    font-weight: 900;
    color: white;
  }

  .heading {
  }
}
